<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="com.bestbuy.utils.SeWrappers"></class>
		<class name="com.bestbuy.utils.BestBuyWrappers"/>
      <class name="com.bestbuy.test.LaunchBrowserTest"/>
      <class name="com.bestbuy.test.LoginTest"></class>
      <class name="com.bestbuy.test.SignInTest"></class>
      <class name="com.bestbuy.test.MenuTest"></class>
      <class name="com.bestbuy.test.SearchTest"></class>
      <class name="com.bestbuy.test.AddToCartTest"/>
      <class name="com.bestbuy.test.PaymentTest"/>
      <class name="com.bestbuy.utils.Reports"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
